/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cart
{
  display: flex;
  flex-flow: column;
}
.cart-item {
  display: inline-flex;

  margin: 20px 10px;
}
.cart-item .right-block {
  padding: 0 20px;
  /* border: 2px solid red; */
}
.cart-item-actions {
  /* margin-top: 20px; */
  display: inline-flex;
  /* border: 2px solid gray; */
}
.action-icons {
  height: 15px;
  width: 15px;
  margin-top: 3px;
  margin-right: 10px;
}
.action-icons:hover {
  cursor: pointer;
}
#no-item-heading
{
  /* margin: 0 auto; */
  text-align: center;
  margin-top: 45vh;
  
}